{# ./src/Neo_Admin/Templates/layouts/base.layout.html.twig #}

{% set currentTheme = app.session.get('theme') %}

<!DOCTYPE html>
<html lang="en" class="{{ currentTheme }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block docTitle %}{% endblock %}</title>

        <link rel="stylesheet" href="/builds/Neo_Admin/tailwind/output.css?v={{ 'now'|date('U') }}">

        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>