{# ./src/Neo_Admin/Templates/layouts/base.layout.html.twig #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document</title>

        <link rel="stylesheet" href="/builds/Neo_Admin/tailwind/output.css?v={{ 'now'|date('U') }}">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>