{# ./src/Neo_Admin/Templates/partials/templates/panel/header.tpl.html.twig #}

{% import 'partials/macros/icon.macro.html.twig' as Icon %}

<div class="panel-header-title">
    {% block pageTitle %}Dashboard{% endblock %}
</div>